<!DOCTYPE html>
<html>
<head>
<title>Initialize SAuth</title>
</head>
<body>
Create an initial admin account.
<form method="POST" action="">
Admin email address: <input type="text" name="email" /><br/>
Admin password: <input type="password" name="password" /><br />
<input type="submit" name="submit" />
</form>
</body>
</html>
